<form action="" #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="3"
        id="firstName"
        type="text"
        class="form-control"
        ngModel
        name="firstName"
        (change)="log(firstName)"
        #firstName="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors.minlength">
          Firstname minimum 3 characters!
        </div>
        <div *ngIf="firstName.errors.required">Firstname is required!</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label
    ><textarea
      id="comment"
      ngModel
      name="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed" />
    </label>
    <div *ngFor="let method of contactMethods" class="radio">
      <label for="">
        <input type="radio" ngModel name="contactMethod" [value]="method.id" />
        {{ method.name }}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="messagers">Messagers</label
    ><select ngModel name="messagers" id="messagers" class="from-control">
      <option value="" disabled>Choose the messager</option>
      <option *ngFor="let messager of messagers" [value]="messager.id">{{
        messager.name
      }}</option>
    </select>
  </div>
  <p>{{ f.value | json }}</p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
