<!--The content below is only a placeholder and can be replaced.-->
<ng-container class="navigation">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ng-container>
<courses></courses>
<favorite
  [isFavorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"
></favorite>
<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some content</p>
  </div>
</bootstrap-panel>
